.container{
  text-align: center;
  padding: 40px;
  min-height: 100vh;
  background-color: aqua;

}
.buttons{
  margin:20px 0 ;
  
}
.btn{
  font-size: 19px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  
}

.happy{
  background-color:goldenrod; 
}
.sad{
  background-color: lightgreen;
}
.excited{
  background-color: violet;
}
.angry{
  background-color:red;
}

.box{
  margin-top: 30px;
  font-size:24px;
}